body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  @apply outline-none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}

a:hover h3,
a:hover p {
  @apply text-red-600;
}

p, em, blockquote {
  @apply text-gray-900;
}

ul {
  padding: revert;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article p,
.article img,
.article ul,
.article blockquote,
.article em {
  @apply block mb-4;
}

.article a {
  @apply text-blue-700 underline;
}

.article img {
  @apply border;
}

.article blockquote {
  @apply border-l-8 border-gray-500 py-1 pl-4 pr-1;
}

.tag {
  @apply py-1 px-2 bg-yellow-500 text-black uppercase text-xs font-bold rounded;
}

.category-title {
  @apply inline-block py-0 px-2 bg-red-600 text-white uppercase;
}
