body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}

a, button:focus {
  @apply outline-none;
}

a:hover h3 {
  @apply text-red-600;
}

p, em, blockquote, figcaption {
  @apply text-gray-900;
}

ul {
  padding: revert;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

.category-title {
  @apply inline-block py-0 px-2 bg-red-600 text-white uppercase;
}

.tag {
  @apply py-1 px-2 bg-yellow-500 text-black uppercase text-xs font-bold rounded;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article p,
.article figure,
.article ul,
.article blockquote,
.article em {
  @apply block mb-2;
}

.article a {
  @apply text-blue-700 underline;
}

.article blockquote {
  @apply border-l-8 border-gray-500 py-1 pl-4 pr-1;
}
